body{
    margin:0;
    text-align: center;
    font-family: Montserrat,sans-serif;
}
.top_container{
    background-color: #9ad3bc;
    position: relative;
    padding-right: 5px;
    padding-top: 100px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a.active{
    background-color: maroon;
    color: white;
}
.navbar a:hover{
    background-color: grey;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
.small_cloud{
    width: 10%;
    position: absolute;
    opacity: 0.7;
}
.big_cloud{
    width: 15%;
    position: absolute;
    opacity: 0.7;
}
#cloud1{
    right: 13%;
    top: 20%;
}
#cloud2{
    left: 15%;
    top: 23%;
}
#cloud3{
    left: 35%;
    top: 60%;
}
#cloud4{
    left: 40%;
    top: 5%;
}
#cloud5{
    left: 10%;
    top: 60%;
}
#cloud6{
    right: 8%;
    bottom: 20%;
}
#cloud7{
    left: 50%;
    bottom: 20%;
}
.mountain_img{
    width: auto;
    height: auto;
}
.dev_img{
    width: 12%;
    height: auto;
    position: absolute;
}
#nick_img{
    top: 9%;
    left: 12%;
}
#mihnea_img{
    top: 9%;
    right: 12%;
}
.skill_img{
    width: 15%;
}
#html_skills{
    text-align: justify;
    padding: 0 8px;
}
#basketball_skills{
    text-align: justify;
    padding: 0 8px;
}
#cooking_skills{
    text-align: justify;
    padding: 0 8px;
}
@media only screen and (max-width:720px){
    .dev_img{
        width: 20%;;
    }
    .mountain_img{
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 540px) and (max-width: 540px) {
    .dev_img{
        width: 20%;;
    }
    #nick_img{
        top: 4%;
        left: 12%;
    }
    #mihnea_img{
        top: 4%;
        right: 12%;
    }
}